<div class="new-page">
  <div class="new-page__main">
    <%= form_with(model: @bitch, local: true) do |f| %>
    <div class="new-page__main__title">
      <h3>新しく貼る</h3>
      <%= f.label :内容 %>
      (４００文字以下)<br/>
    </div>
    <div class="grid-p">
      <div class="new-page__main__content">
        <div class="new-page__main__content__name">
          <%= current_user.name%>
        </div>
        <div class="new-page__main__content__text">
          <%= f.text_area :comment, class: "new-comment", autofocus: true, placeholder: "例：〇〇が困る      先日〇〇をするために△△へ行った時にxxに困りました。もっと□□してくれれば助かるのになぁ。" %>
        </div>
        <div class="new-page__main__content__btn">
          <%= f.submit value: "貼る", class: "new-submit"%>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>