<div class="content", id="content">
  <div class="content__top">
    <div class = "content__top__name">
      <%= @user.name %>
    </div>
    <% if @user.id == current_user.id %>
      <div class="content__top__delete-btn">
        <%= link_to bitch_path(@bitch), class: "delete border-none", method: :delete do %>
          <%= image_tag "trush.png", class: "delete-btn", size: "15x15"%>
          はがす
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="content__comment">
    <div class="content__comment__text">
      <p class="word-break"><%= @user.bitch.comment %></p>
    </div>
  </div>
  <div class="content__comment__list">
    <div class="content__comment__list__count">
      共感数：<%= @user.bitch.score %>
    </div>
    <div class="content__comment__list__link">
      <%= link_to bitch_path(@bitch), class: "border-none" do %>
        >>> more
      <% end %>
    </div>
  </div>
</div>