<!DOCTYPE html>
<html>
  <head>
    <title>Dissatisfaction</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <div class="header_bar">
        <h2 class="header_bar_title">他力本願！！</h2>
        <% if user_signed_in? %>
          <div class="user_name grid">
            <span><%= current_user.name%>
              <ul class="user_info">
                <li>
                  <%= link_to "投稿する", new_bitch_path, class: "top_btn" %>
                </li>
                <li>
                  <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "top_btn" %>
                </li>
              </ul>
            </span>
          </div>
        <% else %>
        <div class="grid">
          <%= link_to "ログイン", new_user_session_path, class: "top_btn" %>
          <%= link_to "新規登録", new_user_registration_path, class: "top_btn" %>
        </div>
        <% end %>
        <div class="description">
          <a>このアプリについて</a>
        </div>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
