<!DOCTYPE html>
<html>
  <head>
    <title>Dissatisfaction</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class = "header">
      <div class = "header_bar">
        <h2 class = "header_bar_title">他力本願！！</h2>
        <% if user_signed_in? %>
          <div class = "user_name"></div>
      </div>

    </header>
    <%= yield %>
  </body>
</html>
